/* Emote This Images Set: Emoji Shine - http://www.flaticon.com/packs/emoji-3 */

.gdrts-emoji-shine {
    background-image: url(sprites.png);
    background-repeat: no-repeat;
    background-size: 600% 600%;
    display: block;

    width: 128px;
    height: 128px;
}

.gdrts-emoji-shine-angel {
    background-position: 0 0;
}

.gdrts-emoji-shine-angry-1 {
    background-position: 20% 0;
}

.gdrts-emoji-shine-angry-2 {
    background-position: 40% 0;
}

.gdrts-emoji-shine-arrogant {
    background-position: 60% 0;
}

.gdrts-emoji-shine-bored {
    background-position: 80% 0;
}

.gdrts-emoji-shine-confused {
    background-position: 100% 0;
}

.gdrts-emoji-shine-cool-1 {
    background-position: 0 20%;
}

.gdrts-emoji-shine-cool-2 {
    background-position: 20% 20%;
}

.gdrts-emoji-shine-crying-1 {
    background-position: 40% 20%;
}

.gdrts-emoji-shine-crying-2 {
    background-position: 60% 20%;
}

.gdrts-emoji-shine-cute {
    background-position: 80% 20%;
}

.gdrts-emoji-shine-emoji {
    background-position: 100% 20%;
}

.gdrts-emoji-shine-happy-1 {
    background-position: 0 40%;
}

.gdrts-emoji-shine-happy-2 {
    background-position: 20% 40%;
}

.gdrts-emoji-shine-happy-3 {
    background-position: 40% 40%;
}

.gdrts-emoji-shine-happy-4 {
    background-position: 60% 40%;
}

.gdrts-emoji-shine-in-love {
    background-position: 80% 40%;
}

.gdrts-emoji-shine-kiss-1 {
    background-position: 100% 40%;
}

.gdrts-emoji-shine-kiss-2 {
    background-position: 0 60%;
}

.gdrts-emoji-shine-laughing-1 {
    background-position: 20% 60%;
}

.gdrts-emoji-shine-laughing-2 {
    background-position: 40% 60%;
}

.gdrts-emoji-shine-muted {
    background-position: 60% 60%;
}

.gdrts-emoji-shine-nerd {
    background-position: 80% 60%;
}

.gdrts-emoji-shine-sad-1 {
    background-position: 100% 60%;
}

.gdrts-emoji-shine-sad-2 {
    background-position: 0 80%;
}

.gdrts-emoji-shine-scare {
    background-position: 20% 80%;
}

.gdrts-emoji-shine-serious {
    background-position: 40% 80%;
}

.gdrts-emoji-shine-shocked {
    background-position: 60% 80%;
}

.gdrts-emoji-shine-sick {
    background-position: 80% 80%;
}

.gdrts-emoji-shine-sleepy {
    background-position: 100% 80%;
}

.gdrts-emoji-shine-surprised {
    background-position: 0 100%;
}

.gdrts-emoji-shine-suspicious {
    background-position: 20% 100%;
}

.gdrts-emoji-shine-tongue {
    background-position: 40% 100%;
}

.gdrts-emoji-shine-vain {
    background-position: 60% 100%;
}

.gdrts-emoji-shine-wink-1 {
    background-position: 80% 100%;
}

.gdrts-emoji-shine-wink-2 {
    background-position: 100% 100%;
}
